body{
    margin: 0 auto;
    max-width: 1000px;
    background-color:  #545454;
    text-align:  center;
}

.menu{
    max-width: 250px;
    margin: 0 auto;
    padding: 1rem;
    background: #563254;
}

a{
    color: red;
}
.menu a{
    margin: 1rem;
    color: white;
}

img{
    border: 6px solid red;
}

.content-charts{
    margin: 0 auto;
    background-color: #323232;

}

#chart_div {
    width:400px;
    height: 278px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
#barrass_div{
    width:400px;
    height: 278px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
#table_div {
    width:400px;
    height: 278px;
    background-color: #577889;
    margin: 0 auto;
    margin-bottom: 1rem;
}
#combo_div {
    width:800px;
    height: 278px;
    background-color: #577889;
    margin: 0 auto;
    margin-bottom: 1rem;
}
#regions_div{
    width:550px;
    height:450px;
    background-color: #577889;
    margin: 0 auto;
}

#mapa{
    width: 700px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
}
