body{
    margin: 0 auto;
    max-width: 1000px;
    background-color:  #545454;
}

.menu{
    max-width: 250px;
    margin: 0 auto;
    padding: 1rem;
    background: #563254;
}

.menu a{
    margin: 1rem;
    color: white;
}

a{
    color: red;
}

img{
    border: 6px solid red;
}

.content-charts{
    /*margin: 0 auto;*/
    background-color: #323232;
    width: 1200px;
    height: 1878px;
    overflow: hidden;
    border-radius: 50px;
}

#chart_div {
    width:400px;
    height: 278px;
    /*right: 200px;*/
    margin: 0 auto;
}
#table_div {
    width:400px;
    height: 278px;
    background-color: #577889;
    margin: 0 auto;
}
#combo_div {
    width:800px;
    height: 278px;
    background-color: #577889;
    margin: 0 auto;
}
#regions_div{
    width:550px;
    height:450px;
    background-color: #577889;
    margin: 0 auto;
}

#map{
    width: 700px;
    height: 300px;
}
